.modal {
  box-shadow: 0 6px 36px rgba(34, 34, 34, 0.325);
  background: #FFF;
  border-radius: 24px;
  position: relative;
  top: 18%;
  margin: auto;
  max-width: 580px;
  max-height: 580px;
  height: 100%;
  width: 100%;
  z-index: 10;
  padding: 1.5rem;
}

.addButton {
  margin-bottom: 0.7rem;
  color: white;
  margin-left: 0.2rem;
  margin-top: 0.5rem;
  width: 98%;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 25px;
  border: none;
  font-size: 1rem;
  transition: margin-left 200ms,  width 200ms, margin-bottom 200ms, margin-top 200ms , padding 200ms;
}

.addButton:hover {
  margin-left: 0;
  background-color: #2e2e2e;
  width: 100%;
  margin-bottom: 0.6rem;
  margin-top: 0.4rem;
  padding: 1.1rem;
}

.confirmation {
  align-self: center;
  margin-top: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(54, 54, 54, 0.8);
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

