.container {
  width: 27%;
  max-height: 100%;
  margin: 1rem;
  display: flex;
  align-content: center;
  flex-direction: column;
}


.addButton {
  color: white;
  margin: auto;
  margin-top: 0.5rem;
  width: 100%;
  background-color: #222222;
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius: 25px;
  border: none;
  font-size: 1rem;
}

