.mainCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mainCardContainer {
  max-height: 200px;
}

.closeModal {
  transform: translate(620px, -260px);
  border-radius: 100%;
  border: none;
  background: transparent;
  font-size: 1rem;
  padding: 1rem;
  background-color: rgba(199, 199, 199, 0.733);
}

.image {
  justify-content: flex-start;
  max-width: 150px;
  max-height: 150px;
}

.mainInfo {
  margin-left: 1rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.priceAndTitle {
  margin: 0 1rem;
  padding: 0.5rem;
}

.button {
  color: white;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  width: 98%;
  background-color: #222222;
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius: 25px;
  border: none;
  font-size: 1rem;
  transition: margin-left 200ms,  width 200ms, margin-bottom 200ms, margin-top 200ms , padding 200ms;
}

.modalDeal {
  font-size: 1rem;
}

.loading {
  border-radius: 25px;
  margin-top: 1rem;
  background: lightgrey;
  height: 10px;
  width: 100%;
  display: flex;
}

.innerLoading {
  border-radius: 25px;
  background: green;
  height: 10px;
  width: 65%;

}

.button:hover {
  margin-left: 0;
  background-color: #2e2e2e;
  width: 100%;
  margin-bottom: 0.6rem;
  margin-top: 0.9rem;
  padding: 1.1rem;
}