.mainCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mainCard img {
  justify-content: flex-start;
  max-width: 150px;
  max-height: 150px;
}

.mainInfo {
  margin-left: 1rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.mainInfo h4 {
  margin: 0 1rem;
  padding: 0.5rem;
}

.mainInfo button {
  color: white;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  width: 100%;
  background-color: #222222;
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius: 25px;
  border: none;
  font-size: 1rem;
}

.modalDeal {
  font-size: 1rem;
}

.loading {
  border-radius: 25px;
  margin-top: 1rem;
  background: lightgrey;
  height: 10px;
  width: 100%;
  display: flex;
}

.innerLoading {
  border-radius: 25px;
  background: green;
  height: 10px;
  width: 65%;

}